body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.image{
    margin-top: 100px;
    display: block;
    width: 400px;
   
}
.input{
    width:300px;
    display: block;
 
}